.birf {
    gap: 0 48px;
}
.birbalooo {
    font-family: Inter-Bold;
    color: var(--gray-900, #111827);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.workingclass {
    
    font-family: Inter-Semibold;

    align-self: stretch;
    color: var(--gray-600, #4b5563);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.sons{
    
    font-family: Inter-Medium;


}
.btrr {
    width: 896px;
    height: auto;
}

.center-card {
    margin: 0 auto;
    text-align: center;
}

.cardss {
    border-radius: 12px;
    background: var(--gray-default, #fff);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 769px) {
    ul {
        gap: 18px !important;

        display: flex !important;
        justify-content: space-between !important;
        width: auto !important;

        img {
            width: 90px !important;
        }

        .birf {
            gap: 0px !important;

            .birbalooo {
                color: var(--gray-900, #111827);
                font-size: 19px;

                font-weight: 580 !important;
                line-height: 26px !important;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    ul {
        gap: 18px !important;

        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        .birbalooo {
            display: flex !important;

            align-items: flex-start;
        }
        .birf {
            display: flex;
            align-items: flex-start;

            flex-direction: column;
            .endi {
                order: -1;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    ul {
        width: 343px;
        gap: 18px !important;

        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        .birbalooo {
            display: flex !important;

            align-items: flex-start;
        }
        .birf {
            display: flex;
            align-items: flex-start;

            flex-direction: column;
            .endi {
                order: -1;
                margin-bottom: 20px;
            }
        }
    }
}
