.buttonof{
    font-family: Inter-Medium;
  }
  .bordiringa{
    font-family: Inter-Regular;
  }

@media only screen and (max-width: 375px) {
    .skilo{
        margin-bottom: 20px !important;
    }
  
} 